@charset "utf-8";

#fake-box{
  margin: 0 auto;
  max-width: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#image-list {
  margin: 0 auto;
  padding: 30px 0px;
  width: 900px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
#igmage-list li {
  width: 250px;
  height: 250px;
  margin: 20px;
  background-color: #666666;
}
#image-list a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#image-list h2 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}
/*ポップアップ　モーダル表示*/
#graydisplay {
  background: rgba(0,0,0,0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}
#graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
  height: auto;
  width: auto;

}
.fake-area{
	background: linear-gradient(100deg,#ebebeb,#707070);
  border-radius: 25px;
  padding: 4px;
  width: 110px;
  height: 45px;
  float: right;
}

.search-box{
  width: 500px;
  height: 45px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: auto 60%;
  background-color: #fff;
  border-left:3px solid #707070;
  border-top:3px solid #707070;
  border-right:3px solid #ebebeb;
  border-bottom:3px solid #ebebeb;
  border-radius: 25px;
  color: #555;
  font-size: 30px;
  letter-spacing: 0.1em;
  outline: 0;
}

.search-button{
  border: 0;
  font-size: 26px;
  width: 110px;
  height: 45px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(to bottom,#ff6600, #ff0066);
  color: #fff;
  position: absolute;
  float: left;
}

.borderbox{
  margin-left: 20px;
  margin-top: 25px;
  margin-right: 20px;
  margin-bottom: 25px;
  border-left:3px solid #fff;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  border-bottom:3px solid #fff;
  float: left;
}

body{
  background: repeating-linear-gradient(0deg,#1030e6 20% ,#97a7ff 45%, #1030e6 112%) fixed;
  background-size: 152% 207%;
  -webkit-animation: BgAnimation 10s linear infinite;
  -moz-animation: BgAnimation 10s linear infinite;
  animation: BgAnimation 10s linear infinite;
}
@-webkit-keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}
@-moz-keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}
@keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}

h1{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 50px;
  position: relative;
  font-size: 90px;
  color: #fff;
}
h2{
  text-align: center;
  font-size: 30px;
  color: #fff;
}

@media screen and (max-width: 500px) {
  /* スマホ用のスタイル */
  #fake-box{
    margin: 0 auto;
    max-width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #image-list {
    margin: 0 auto;
    padding: 30px 0px;
    width: 300px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  .search-box{
    width: 250px;
    height: 30px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: auto 60%;
    background-color: #fff;
    border-left:3px solid #707070;
    border-top:3px solid #707070;
    border-right:3px solid #ebebeb;
    border-bottom:3px solid #ebebeb;
    border-radius: 25px;
    color: #555;
    font-size: 20px;
    letter-spacing: 0.1em;
    outline: 0;
  }
  .fake-area{
    background: linear-gradient(100deg,#ebebeb,#707070);
    border-radius: 25px;
    padding: 4px;
    width: 65px;
    height: 30px;
    float: right;
  }
  .search-button{
    border: 0;
    font-size: 18px;
    width: 65px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(to bottom,#ff6600, #ff0066);
    color: #fff;
    position: absolute;
    float: left;
  }
  .borderbox{
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 20px;
    margin-bottom: 25px;
    border-left:3px solid #fff;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
    border-bottom:3px solid #fff;
    float: left;
  }
  h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    font-size: 37px;
    color: #fff;
  }
  h2{
    text-align: center;
    font-size: 15px;
    color: #fff;
  }
}