@charset "utf-8";

#fakebox{
  margin: 0 auto;
  max-width: 700px;
}

.fake-area{
	background: linear-gradient(100deg,#ebebeb,#707070);
    border-radius: 25px;
    padding: 4px;
    width: 110px;
    height: 45px;
    float: right;
}

.search-box{
  width: 500px;
  height: 45px;
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: auto 60%;
  background-color: #fff;
  border-left:3px solid #707070;
  border-top:3px solid #707070;
  border-right:3px solid #ebebeb;
  border-bottom:3px solid #ebebeb;
  border-radius: 25px;
  color: #555;
  font-size: 30px;
  letter-spacing: 0.1em;
  outline: 0;
}

.search-button{
  border: 0;
  font-size: 26px;
  width: 110px;
  height: 45px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(to bottom,#ff6600, #ff0066);
  color: #fff;
  position: absolute;
  float: left;
}

div{
  display: block;
}
body{
  background: repeating-linear-gradient(0deg,#1030e6 20% ,#97a7ff 45%, #1030e6 112%) fixed;
  background-size: 152% 207%;
  -webkit-animation: BgAnimation 10s linear infinite;
  -moz-animation: BgAnimation 10s linear infinite;
  animation: BgAnimation 10s linear infinite;
}
@-webkit-keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}
@-moz-keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}
@keyframes BgAnimation {
  0%{background-position:50% 0%}
  100%{background-position:200% 200%}
}

h1{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
  font-size: 90px;
  color: #fff;
}
